* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background: hsl(0, 0%, 94%);
  color: #333;

}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 3px hsl(0, 0%, 90%);
  padding-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: #333;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #2ecc71;
}

.middle-nav{
  display: flex;
  justify-content: center;
  gap: 30px;
}


.middle-nav div  :hover,
.right-nav div :hover{
  text-decoration: underline;
  text-decoration-color: #2ecc71; ;
  text-decoration-thickness: 4px;
}

.right-nav{
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
}

.btn-outline {
  border: 2px solid #ddd;
  background: white;
}

.btn-outline:hover {
  border-color: #2ecc71;
  background: #f0fff4;
}

.btn-primary {
  background: #2ecc71;
  color: white;
  border: none;
}

.btn-primary:hover {
  background: #27ae60;
  transform: translateY(-2px);
}
.active2{
  text-decoration: underline;
  text-decoration-color: #2ecc71; ;
  text-decoration-thickness: 4px;
  
}
