* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background: hsl(0, 0%, 94%);
  color: #333;

}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 3px hsl(0, 0%, 90%);
  padding-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: #333;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text{
  font-size: 20px;
  font-weight: 600;
}

.middle-nav{
  display: flex;
  justify-content: center;
  gap: 30px;
}


.middle-nav div  :hover,
.right-nav div :hover{
  text-decoration: underline;
  text-decoration-color: #2ecc71; ;
  text-decoration-thickness: 4px;
}

.right-nav{
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 7px 10px;
  border-radius: 10px; 
  text-decoration: none;
  font-size: 14px;
}

.btn-primary{
  background-color:  hsl(0, 0%, 20%);
  color: white;
  transition: 0.2s ;
}

.btn-primary:hover{
  
  background-color: hsl(0, 0%, 30%);
  padding: 8px 12px;
  border-color:  #000000;
 
}

.btn-outline{
  border: 2px solid #ddd;
  background-color:hsl(0, 0%, 94%);
}

.btn-outline:hover {
    border-color: hsl(0, 0%, 70%);
    background-color:hsl(0, 0%, 96%) ;
    padding: 8px 12px;
    transition: 0.2s ;
}

.active{
  text-decoration: underline;
  text-decoration-color: #2ecc71; ;
  text-decoration-thickness: 4px;
  
}
